<h1 class="text-center"> NFL News </h1> 

<div class="col text-center"> 
<a href="/saved" class="btn btn-success center"> View Your Saved Articles </a>
<a href="/articles" class="btn btn-success"> Scrape Articles </a>
</div>
<br>
<br>
    <img src="/images/field.jpg" width="100%">

